# Virtual Environment
venv/
pyvenv.cfg

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (keep raw data optional)
data/raw/*.zip
data/processed/*.csv

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/